<div >
    

    <button color='primary' mat-raised-button>
        <a routerLink='/userform' [ngStyle]="{'width.px': 400}">  
            User Form
        </a>
    </button>
    <button mat-raised-button >
        <a routerLink='/agentform' [ngClass]="'link-color'">
            Agent Form
    
        </a>
    </button>
    <button color='warn' mat-raised-button>
        <a routerLink='/update'>
            Update User
    
        </a>
    </button>
    <button color='success' mat-raised-button>Basic</button>
</div>